#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "ums"
name = "Universal Media Server"
description.en = "A DLNA, UPnP and HTTP(S) Media Server"
description.fr = "Un Serveur Multimedia DLNA, UPnP et HTTP(S)"

version = "15.2.0~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "GPL-2.0-or-later"
website = "https://www.universalmediaserver.com"
admindoc = "https://github.com/UniversalMediaServer/UniversalMediaServer/wiki"
code = "https://github.com/UniversalMediaServer/UniversalMediaServer"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "1G"
ram.build = "350M"
ram.runtime = "350M"

[install]
    [install.domain]
    help.en = "UMS require its own subdomain"
    help.fr = "UMS a besoin de son propre sous-domaine"
    type = "domain"

    [install.init_main_permission]
    help.en = "Everybody will be able to access your media on the internet without connecting to YunoHost"
    help.fr = "Tout le monde pourra voir vos media sans se connecter à YunoHost"
    type = "group"
    default = "visitors"

    [install.server_name]
    ask.en = "By which name should UMS be identified by your renderer"
    ask.fr = "Par quel nom UMS doit-il être identifié par vos appareils"
    help.en = "This has no impact on the way the server will work and is only use to identify it on the network"
    help.fr = "Ceci n a aucun impact sur le fonctionnement du serveur et sert uniquement à l identifier sur le réseau"
    type = "string"
    example = "MyUMS"
    default = "UniversalMediaServer"

    [install.interface]
    ask.en = "Which network interface do you want to use?"
    ask.fr = "Quel réseau souhaitez vous utiliser ?"
    help.en = "On lan, the interface is usually eth0, on wifi it s usually wlan0"
    help.fr = "En filaire, l interface est souvent eth0, en wifi wlan0"
    type = "string"
    default = "eth0"

[resources]
    [resources.sources.main]
    arm64.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/15.2.0/UMS-Linux-15.2.0-arm64.tgz"
    arm64.sha256 = "64363a548ba7bc85356e665a9f9ddde556b2b0532316294530c824e82b213a86"
    amd64.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/15.2.0/UMS-Linux-15.2.0-x86_64.tgz"
    amd64.sha256 = "b6e72f77d955a8b36579d13cb9f02e6b1b24ea0630126c82f65f9e7cac0e1442"
    armhf.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/15.2.0/UMS-Linux-15.2.0-armhf.tgz"
    armhf.sha256 = "5365b69a9ac65638f93f0885ce8eb03cf75f890c1eb0e7bc319c0b5db6dc421e"
    i386.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/15.2.0/UMS-Linux-15.2.0-x86.tgz"
    i386.sha256 = "908f7532b96318e1259b1e56982ca99f9f5042911c1c499da2b95fbd35b5a15f"

    autoupdate.strategy = "latest_github_release"

    autoupdate.asset.arm64 = ".*-arm64.tgz"
    autoupdate.asset.amd64 = ".*-x86_64.tgz"
    autoupdate.asset.armhf = ".*-armhf.tgz"
    autoupdate.asset.i386 = ".*-x86.tgz"

    [resources.system_user]
    #UMS require a home path for the user as config files are stored in there
    home = '/home/yunohost.app/__APP__'

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header=false

    [resources.ports]
    main.default = 9001
    rend.default = 5001
    rend.exposed = "TCP"

    [resources.apt]
    packages = "mediainfo dcraw mencoder mplayer vlc"
    packages_from_raw_bash = """
        if [[ "$YNH_ARCH" == "armhf" ]] || [[ "$YNH_ARCH" == "arm64" ]]; then
           echo openjdk-17-jre
        fi
    """
