packaging_format = 2

id = "ums"
name = "Universal Media Server"
description.en = "A DLNA, UPnP and HTTP(S) Media Server"
description.fr = "Un Serveur Multimedia DLNA, UPnP et HTTP(S)"

version = "14.0.0~ynh1"

maintainers = ["Krakinou"]

[upstream]
license = "GPL-2.0-or-later"
website = "www.universalmediaserver.com"
admindoc = "https://github.com/UniversalMediaServer/UniversalMediaServer/wiki"
code = "https://github.com/UniversalMediaServer/UniversalMediaServer"

[integration]
yunohost = ">= 11.1.18"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "1G"
ram.build = "350M"
ram.runtime = "350M"

[install]
    [install.domain]
    help.en = "UMS require its own subdomain"
    help.fr = "UMS a besoin de son propre sous-domaine"
    type = "domain"

    [install.init_main_permission]
    help.en = "Everybody will be able to access your media on the internet without connecting to Yunohost"
    help.fr = "Tout le monde pourra voir vos media sans se connecter à Yunohost"
    type = "group"
    default = "visitors"

    [install.server_name]
    ask.en = "By which name should UMS be identified by your renderer"
    ask.fr = "Par quel nom UMS doit-il être identifié par vos appareils"
    help.en = "This has no impact on the way the server will work and is only use to identify it on the network"
    help.fr = "Ceci n a aucun impact sur le fonctionnement du serveur et sert uniquement à l identifier sur le réseau"
    type = "string"
    example = "MyUMS"
    default = "UniversalMediaServer"

    [install.interface]
    ask.en = "Which network interface do you want to use?"
    ask.fr = "Quel réseau souhaitez vous utiliser?"
    help.en = "On lan, the interface is usually eth0, on wifi it s usually wlan0"
    help.fr = "En filaire, l interface est souvent eth0, en wifi wlan0"
    type = "string"
    default = "eth0"

[resources]
        [resources.sources.main]
        arm64.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/14.0.0/UMS-14.0.0-arm64.tgz"
        arm64.sha256 = "0493c4363254b56fb1461717dc102bd606248012095e68f5d1e8d67929951d19"
        amd64.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/14.0.0/UMS-14.0.0-x86_64.tgz"
        amd64.sha256 = "36bb4e62f9b5ae4de03efb5be7a1f5012202130c30073635ccd7f455814b289b"
        armhf.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/14.0.0/UMS-14.0.0-armhf.tgz"
        armhf.sha256 = "edf83cb0112e929d5c659d0d094a1ed219dee2226a11b25fb38ecb8f9ccf9bb6"
        i386.url = "https://github.com/UniversalMediaServer/UniversalMediaServer/releases/download/14.0.0/UMS-14.0.0-x86.tgz"
        i386.sha256 = "17c1e9c9285490662302a1597ab46a8f4e438ff19b0237a38e0f83261567c95a"

        autoupdate.strategy = "latest_github_release"

        autoupdate.asset.arm64 = ".*-arm64.tgz"
        autoupdate.asset.amd64 = ".*-x86_64.tgz"
        autoupdate.asset.armhf = ".*-armhf.tgz"
        autoupdate.asset.i386 = ".*-x86.tgz"

    [resources.ports]
    main.default = 9001
    rend.default = 5001
    rend.exposed = "TCP"

    [resources.system_user]
    #UMS require a home path for the user as config files are stored in there
    home = '/home/yunohost.app/__APP__'

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header=false

    [resources.apt]
    packages = "mediainfo dcraw mencoder mplayer vlc"
    packages_from_raw_bash = """
        if [[ "$YNH_ARCH" == "armhf" ]] || [[ "$YNH_ARCH" == "arm64" ]]; then
           echo openjdk-17-jre
        fi
    """
